.weather-app-wrapper {
  max-width: 950px;
  margin: 60px auto;
  margin-bottom: 10px;
}

.weather-app {
  border-style: solid;
  border-color: #016a87;
}

.bg-light {
  margin: 20px;
  width: 500px;
}

.d-flex {
  width: 800px;
}

.search-engine {
  margin: 20px;
}

.search-box {
  margin: 20px 0;
}

.box {
  background: #385170;
}
.btn-primary:hover {
  background-color: #f0fbf3;
  color: #385170;
  border-color: #385170;
}

li:first-letter {
  text-transform: capitalize;
}

ul {
  list-style: none;
}

.city {
  color: darkcyan;
  font-size: 40px;
  padding-top: 20px;
}
.date {
  color: cadetblue;
  font-size: 25px;
}
.description {
  color: cadetblue;
  font-size: 20px;
}
.time {
  color: cadetblue;
  font-size: 25px;
}
.temperature-number {
  font-size: 80px;
}
.temperature {
  color: darkcyan;
}

.units {
  position: relative;
  top: -45px;
  font-size: 20px;
  color: darkcyan;
}
.icon {
  position: relative;
  left: -15px;
  top: -10px;
  width: 200px;
}

.githubLink {
  color: #385170;
  margin-left: 175px;
  margin-top: 0;
}
.weather-forecast {
  margin: 20px;
  text-align: center;
  color: #385170;
}

.weather-forecast-temperature-min {
  opacity: 0.7;
}
